<section class="slide">
    <div class="container">
        <h2 class="text-center">SẢN PHẨM NỔI BẬT</h2>
        <div class="row">
            <div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#Carousel" data-slide-to="0" class=""></li>
                        <li data-target="#Carousel" data-slide-to="1" class=""></li>

                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3"><a href="/detail/ban-tivi-1609303513493524-1" class="thumbnail"><img
                                        src="/media/slide/a_6.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/sofa5-160930377777467-1" class="thumbnail"><img
                                        src="/media/slide/a_14.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/sofa6-1609303806635733-1" class="thumbnail"><img
                                        src="/media/slide/a_15.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/sofa1-1609303699810161-1" class="thumbnail"><img
                                        src="/media/slide/a_7.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->

                        <!--.item-->
                        <div class="item active">
                            <div class="row">
                                 <div class="col-md-3"><a href="/detail/ban-trang-tri-160930357153468-1" class="thumbnail"><img
                                        src="/media/slide/a_9.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/sofa3-1609303596776084-1" class="thumbnail"><img
                                        src="/media/slide/a_10.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/sofa4-1609303619679554-1" class="thumbnail"><img
                                        src="/media/slide/a_11.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                                <div class="col-md-3"><a href="/detail/tranh-son-dau-1609303659995905-1" class="thumbnail"><img
                                        src="/media/slide/a_12.jpg"
                                        alt="Image" style="max-width:100%;"></a>
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a> <a data-slide="next"
                                                                                                 href="#Carousel"
                                                                                                 class="right carousel-control">›</a>
                </div>
                <!--.Carousel-->
            </div>
        </div>
    </div>
</section>